GEXABLE_SECRET_KEY=change-me
GEXABLE_DEBUG=true
GEXABLE_ALLOWED_HOSTS=localhost,127.0.0.1
GEXABLE_DB_ENGINE=postgresql
GEXABLE_DB_HOST=localhost
GEXABLE_DB_PORT=5432
GEXABLE_DB_NAME=gexable_esg
GEXABLE_DB_USER=gexable
GEXABLE_DB_PASSWORD=gexable
